body {
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-x: hidden;
    margin: 0;
    font-size: 1.2em;
    font-weight: 200;
    min-width: 320px;
    line-height: 1.45;
    background: #fbfcfc;
    color: #313541;
}

body div {
    margin: 0;
}

h1, h2, h3, h4, .text--lg, .text--md, .text--sm {
    font-family: inherit;
    font-weight: 200;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1 {
    margin-top: 0;
    font-size: 5.063em;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.5em;
}

.text--lg {
    font-size: 3.375em;
}

.text--md {
    font-size: 2em;
}

.text--sm {
    font-size: 0.9em;
}

.bold {
    font-weight: 400;
}

.color--sec {
    color: #777f8e !important;
}

.color--rating-good {
    color: #87c700 !important;
}

.color--rating-avarage {
    color: #3f918d !important;
}

.background-color--prime {
    background-color: #e3e8ee !important;
}

.background-color--dark-prime {
    background-color: #8b93a296 !important;
}

.background-color--white {
    background-color: #fff !important;
}

.inline {
    display: inline-block;
}

.as-button {
    cursor: pointer;
}

.flex-no-height {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.bottom {
    flex-grow: 1;
}

div.ui {
    margin: 0 !important;
}

/* semantic customisation*/
.ui.segment {
    border: none;
    border-radius: 0;
}

.ui.grid > .row.padding-none {
    padding: 0 !important;
}

.ui.grid > .row.padding-l {
    padding-left: 0 !important;
}

.ui.grid > .row.padding-t {
    padding-top: 0 !important;
}

.ui.grid > .row.padding-b {
    padding-bottom: 0 !important;
}

.ui.grid > .row.padding-r {
    padding-right: 0 !important;
}

i.icon {
    font-weight: 100;
}

/*BUTTON SEMANTIC CUSTOMISATION*/
.ui.button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/*MODAL SEMANTIC CUSTOMISATION*/
.ui.active.modal{
        margin: 0 auto !important;
}
